html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: auto;
    background-color: #836ac7;
}

.header {
    grid-area: header;
    background-color: #50349f;
}

.main {
    grid-area: main;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding: 2.5rem;
}

.red-box-style-off {
    padding: 6rem;
    background-color: red;
    opacity: 75%;
}

.blue-box-style-off {
    padding: 6rem;
    background-color: blue;
    opacity: 75%;
}

.green-box-style-off {
    padding: 6rem;
    background-color: green;
    opacity: 75%;
}

.yellow-box-style-off {
    padding: 6rem;
    background-color: yellow;
    opacity: 75%;
}

.footer-information {
    grid-area: footer-information;
    background-color: #50349f;
}

.footer-contact {
    grid-area: footer-contact;
    background-color: #50349f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-layout {
    display: grid;
    grid-template: 
        "header             header"         85px
        "main               main"           auto
        "footer-information footer-contact" 65px;
}

.footer-contact a {
    grid-area: footer-information;
    display: inline-flex;
    color: #50349f;
    width: 40px;
    height: 40px;
    background-color: #dfa4df;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 6px;
    transition: transform 0.4s;
}

.footer-contact a:hover {
    transform: scale(1.3);
}

h1 {
    font-family: 'Tenor Sans', sans-serif;
    text-align: center;
    color: white;
    font-size: 33px;
}

p {
    font-family: 'Tenor Sans', sans-serif;
    text-align: center;
    color: white;
    font-size: 17.5px;
    line-height: 1.5rem;
    margin-top: 0.7rem;
}

a.link {
    color: #dfa4df;
}
